boto3
networkx
streamlit_agraph==0.0.37
protobuf~=3.19.0
sre-yield==1.2
faker
xmlplain==1.6.0
matplotlib==3.3.4
rapidfuzz
httpx==0.22.0
asyncio==3.4.3
transformers==4.7.0
numpy
sentencepiece==0.1.96
sentence-transformers==2.1.0
flask
flask_cors
google-cloud-dialogflow-cx==1.8.0
psycopg2-binary
scikit-learn==0.24.2
pandas==1.1.5
streamlit==1.11.1
streamlit-chat
plotly
plotly_express
